<p id="notice"><%= notice %></p>

<h1>Clientes</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome Completo</th>
      <th>CPF</th>
      <th>Telefone</th>
      <th>Endereço</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.nome %></td>
        <td><%= cliente.cpf %></td>
        <td><%= cliente.telefone %></td>
        <td><%= cliente.endereco %></td>
        <td><%= link_to 'Mostrar', cliente, :class => "btn btn-primary btn-sm" %></td>
        <td><%= link_to 'Editar', edit_cliente_path(cliente), :class => "btn btn-success btn-sm" %></td>
        <td><%= link_to 'Excluir', cliente, method: :delete, data: { confirm: 'Tem certeza que quer excluir esse item?' }, :class => "btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= line_chart Cliente.group_by_day(:created_at).count %>

<%= link_to 'Cadastrar Cliente', new_cliente_path, :class => "btn btn-default btn-lg" %>
