<p id="notice"><%= notice %></p>

<p>
  <strong>Nome Completo:</strong>
  <%= @cliente.nome %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @cliente.cpf %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @cliente.telefone %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @cliente.endereco %>
</p>

<%= link_to 'Editar', edit_cliente_path(@cliente), :class => "btn btn-primary btn-sm" %> |
<%= link_to 'Voltar', clientes_path, :class => "btn btn-danger btn-sm" %>
