<p id="notice"><%= notice %></p>

<p>
  <strong>Cvalor total:</strong>
  <%= @venda.cvalor_total %>
</p>

<p>
  <strong>:</strong>
  <%= @venda. %>
</p>

<p>
  <strong>Keys:</strong>
  <%= @venda.keys %>
</p>

<p>
  <strong>Clientes:</strong>
  <%= @venda.clientes_id %>
</p>

<p>
  <strong>Produtos:</strong>
  <%= @venda.produtos_id %>
</p>

<%= link_to 'Edit', edit_venda_path(@venda) %> |
<%= link_to 'Back', vendas_path %>
